<!-- <h1>Willkommen - Sterne überall</h1> -->

<div class="logo pull-left">
  <img src="<%= asset_url('Logo50.png') %>" class="img-responsive" alt="Logo">
</div>

<div class="social pull-right">
   <img src="<%= asset_url('Facebook.png') %>" class="img-responsive" alt="Facebook">
   <img src="<%= asset_url('Pinterest.png') %>" class="img-responsive" alt="Pinterest">
   <img src="<%= asset_url('Mail.png') %>" class="img-responsive" alt="Mail">
   <img src="<%= asset_url('Phone.png') %>" class="img-responsive" alt="Phone">
</div>

<div class="clearfix"></div>

<div class="jumbotron">
  <img src="<%= asset_url('IMG_2409.jpg') %>" class="img-responsive" alt="Sonne">
  <p><a class="btn btn-primary btn-lg" href="http://www.sterne-ueberall.de" target="_blank"role="button">Zum Online-Shop</a></p>
</div>

<div class="products">
  <div class="row">
    <div class="col-sm-6">
      <img src="<%= asset_url('IMG_2352.jpg') %>" class="img-responsive" alt="Sonne">
    </div>
    <div class="col-sm-6">
      <img src="<%= asset_url('IMG_1929.jpg') %>" class="img-responsive" alt="Stern">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="<%= asset_url('CIMG0174.jpg') %>" class="img-responsive" alt="Haus">
    </div>
    <div class="col-sm-6">
       <img src="<%= asset_url('IMG_2240.jpg') %>" class="img-responsive" alt="Girlande">
    </div>
  </div>
</div>