<div class="intro">
  <div class="row">
    <div class="col-sm-9">

      <div id="my-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#my-carousel" data-slide-to="1"></li>
          <li data-target="#my-carousel" data-slide-to="2"></li>
          <li data-target="#my-carousel" data-slide-to="3"></li>
          <li data-target="#my-carousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="<%= asset_url('slider/IMG_1779-s.jpg') %>" alt="Slider Image 1">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="<%= asset_url('slider/IMG_1850-s.jpg') %>" alt="Slider Image 2">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="<%= asset_url('slider/IMG_1896-s.jpg') %>" alt="Slider Image 3">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="<%= asset_url('slider/IMG_1928-s.jpg') %>" alt="Slider Image 4">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="<%= asset_url('slider/IMG_2938-s.jpg') %>" alt="Slider Image 5">
            <div class="carousel-caption"></div>
          </div>
        </div> <!-- END carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> <!-- END my-carousel -->
    </div> <!-- END col-sm-8 -->

    <div id="intro-text" class="textbox col-sm-3">
      <img id="stern1" class="stern" src="<%= asset_url('stern.png') %>" alt="Stern">
      <h3 class="title">Handgemacht mit <img src="<%= asset_url('heart292.png') %>" alt="Herz"></h3>
      <h4>aus dem Shop oder nach Deinem Wunsch.</h4>
      <p>Nächster Termin:</p>
      <div id="note">
        <a href="http://www.kreativzeit-bremen.de/kreativzeit" target="_blank"><img src="<%= asset_url('note-img.png') %>" class="img-responsive" alt="Notiz"></a>
        <p>Wir sind dabei!</p>
      </div>
      <div id="fb-button-count">
        <div class="fb-like" data-href="http://www.sterne-ueberall.de" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
    </div> <!-- END col-sm-3 -->
  </div> <!-- END row -->
</div> <!-- END intro -->

<div class="clearfix"></div>

<div class="products">
  <hr>
  <h2 class="title">Willkommen im Online-Shop von <br class="hide-desktop" /><img src="<%= asset_url('stern-klein.png') %>" id="stern-mini-1" alt="roter Stern"> Sterne überall <img src="<%= asset_url('stern-klein.png') %>" id="stern-mini-2" alt="roter Stern"></h2>
  <hr>
  <div class="row">
    <a href="http://www.sterne-ueberall.de/sonnen/" target="_blank">
      <div id="product1" class="col-sm-3">
        <img src="<%= asset_url('gr_sonne.png') %>" class="image img-responsive" alt="Sonne">
        <img src="<%= asset_url('pr_sonne.jpg') %>" class="img-responsive" alt="Sonne">
      </div>
    </a>

    <img id="stern2" class="stern" src="<%= asset_url('stern.png') %>" alt="Stern">

    <a href="http://www.sterne-ueberall.de/h%C3%A4user/" target="_blank">
      <div id="product2" class="col-sm-3">
        <img src="<%= asset_url('gr_haus.png') %>" class="image img-responsive" alt="Haus">
        <img src="<%= asset_url('pr_haus.jpg') %>" class="img-responsive" alt="Haus">
      </div>
    </a>
    <a href="http://www.sterne-ueberall.de/girlanden/" target="_blank">
      <div id="product3" class="col-sm-3">
        <img src="<%= asset_url('gr_girlande.png') %>" class="image img-responsive" alt="Girlande">
        <img src="<%= asset_url('pr_girlande.jpg') %>" class="img-responsive" alt="Girlande">
      </div>
    </a>

    <img id="stern-klein-1" class="stern" src="<%= asset_url('stern-klein.png') %>" alt="Stern">

    <a href="http://www.sterne-ueberall.de/sterne/" target="_blank">
      <div id="product4" class="col-sm-3">
        <img src="<%= asset_url('gr_stern.png') %>" class="image img-responsive" alt="Stern">
        <img src="<%= asset_url('pr_stern.jpg') %>" class="img-responsive" alt="Stern">
      </div>
    </a>
  </div>
</div>

<div class="clearfix"></div>

<div class="person">
  <hr>
  <h2 class="title">Die Ideenmacherin oder <br class="hide-desktop">"Was Ihr wollt"</h2>
  <hr>
  <div class="row">
    <div id="person-picture" class="col-sm-5">
      <img src="<%= asset_url('portrait.jpg') %>" class="img-responsive" alt="Ina Bartels-Hafner">
      <img id="stern3" class="stern" src="<%= asset_url('stern.png') %>" alt="Stern">
    </div>
    <div id="person-text" class="textbox col-sm-7">
      <p>
        "Total sternebegeistert und dekowütig", das sagen Freunde und Familie über mich. Mit einem Stern fing 2011 alles an. Dann kamen immer mehr dazu und in der Werkstatt hingen „Sterne überall“
      </p>
      <p class="hide-mobile">
        Auf einmal war der Weg klar, - Sterne überall – wird gegründet und meine Sterne ziehen hinaus in die Welt um Euch zu erfreuen. Sie wollen ein Teil der Dinge sein, die Euch umgeben. Vielleicht zum Träumen anregen und einen bleibenden Eindruck hinterlassen, wenn Ihr sie verschenkt.
      </p>
      <p>
        Die weltbesten Ideen kommen sehr oft von Kunden, und so ist es eine besondere Freude für mich, die Dekowünsche von Euch umzusetzen. Jeder Mensch hat eine kreative Seite!
      </p>
      <p>
        Ich freue mich sehr, wenn ich Deinen persönlichen Stern für Deine Haustür oder die Sonne für Deine Freundin Julia arbeiten darf.
      </p>
      <p>
        Ruf mich an, schreib mir, schick mir ein Foto von deiner weißen Wand, ich freue mich sehr.
      </p>
      <p>
        Deine Ina.
      </p>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="deko">
  <img id="stern-klein-2" class="stern" src="<%= asset_url('stern-klein.png') %>" alt="Stern">
  <hr>
  <h2 class="title">Dekorationsidee</h2>
  <hr>
  <div class="row">
    <div id="deko-text" class="textbox col-sm-6">
      <h3 class="title">Meine Sommerdekoidee</h3>
      <p>
        Meeresrauschen, Sonne auf der Haut …wunderschöne Erinnerungen an den vergangenen Urlaub. Du möchtest dir das warme Feeling vom letzten Sommerurlaub wieder vor Augen rufen?
      </p>
      <p>
        Wie wäre es mit einem lebendigen Windspiel aus verschiedenen Accessoires des letzten Sommerurlaubes.
      </p>
    </div>
    <div id="deko-picture" class="col-sm-6">
      <img src="<%= asset_url('deko/deko-image.jpg') %>" class="img-responsive" alt="Deko Idee für den Sommer">
      <img id="stern4" class="stern" src="<%= asset_url('stern.png') %>" alt="Stern">
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="contact">
  <img id="stern5" class="stern" src="<%= asset_url('stern.png') %>" alt="Stern">
  <img id="stern-klein-3" class="stern" src="<%= asset_url('stern-klein.png') %>" alt="Stern">
  <img id="stern-klein-4" class="stern" src="<%= asset_url('stern-klein.png') %>" alt="Stern">
  <img id="stern-klein-5" class="stern" src="<%= asset_url('stern-klein.png') %>" alt="Stern">
  <img id="stern-klein-6" class="stern" src="<%= asset_url('stern-klein.png') %>" alt="Stern">
  <img id="stern-klein-7" class="stern" src="<%= asset_url('stern-klein.png') %>" alt="Stern">
  <hr>
  <h2 class="title">Kontaktformular</h2>
  <hr>
  <div class="row">

    <div id="contact-form" class="col-sm-6">

      <div class="form-group">
          <%= label_tag 'name', 'Dein Name' %>
          <%= text_field_tag 'name', nil, class: 'form-control contact-field' %>
      </div>
      <div class="form-group">
          <%= label_tag 'contact', 'Wie kann ich dich erreichen? (Telefonummer, Handy, E-Mail-Adresse)' %>
          <%= text_field_tag 'contact', nil, class: 'form-control contact-field' %>
      </div>
      <div class="form-group">
          <%= label_tag 'service', "Worum geht's?" %>
          <%= select_tag 'service', options_for_select(['Anfrage', 'Bestellung', 'Kundenwunsch']), class: 'contact-field' %>
      </div>
      <!-- <div class="form-group">
          <%= label_tag 'datepicker', 'Date' %>
          <%= text_field_tag 'datepicker', nil, class: 'form-control contact-field' %>
      </div> -->
      <div class="form-group">
          <%= label_tag 'comments', 'Deine Nachricht' %>
          <%= text_area_tag 'comments', nil, class: 'form-control contact-field', rows: 5 %>
      </div>
      <div class="form-button">
          <%= submit_tag 'Senden', class: 'btn btn-default btn-about'  %>
      </div>

    </div>

    <hr class="hide-desktop">

    <div id="info" class="col-sm-6">
      <div class="info-box col-xs-6">
        <a href="http://www.sterne-ueberall.de/firmenkunden/" target="_blank"><img src="<%= asset_url('icon-b2b.png') %>" class="img-responsive" alt="B2B"></a><p>Firmenkunden</p>
      </div>
      <div class="info-box col-xs-6">
        <a href="http://www.sterne-ueberall.de/sterne-%C3%BCberall/m%C3%A4rkte/" target="_blank"><img src="<%= asset_url('icon-cal.png') %>" class="img-responsive" alt="B2B"></a><p>Messen & Märkte</p>
      </div>
    </div>

  </div>
</div>

<div id="space_bottom"></div>